/* Globals */
:root {
  --primary-color: oklch(72.3% 0.1162 251.11);
  --secondary-color: oklch(75.38% 0.1697 56.05);
  --tertiary-color: oklch(79% 0.22 68.5);
  --line-color: oklch(72.3% 0.1162 251.11 / 0.7);
  --box-bg: oklch(100% 0 1 / 0.7);
  --welcome-bg: oklch(0% 0 1 / 0.6);
  --welcome-bg-popup: oklch(100% 0 1 / 0.7);
  --min-container-height: 600px;
  --def-padding: 20px;
}

body {
  margin: 0;
}

/* Global sections */
.hidden {
  display: none !important;
}

.big-text {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.X-big-text {
  font-size: 58px;
  margin: 0;
}

.small-text {
  margin: 0;
  font-size: 14px;
  color: white;
}

.link-text {
  text-decoration: underline;
}

.flex-grow {
  flex-grow: 1;
}

.info-box {
  border-radius: 10px;
  background-color: var(--box-bg);
  justify-content: center;
  align-content: center;
  padding: calc(var(--def-padding) / 2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: var(--secondary-color);
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.btn__big {
  min-height: 70px;
  height: 70px;
  border: 0;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.btn__small {
  background-color: var(--primary-color);
  min-height: 40px;
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.input__small {
  min-height: 40px;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: var(--tertiary-color);
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

th,
td {
  width: 50%;
  text-align: left;
}

td {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 5px;
  padding-top: 5px;
}

#outer-app {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: var(--min-container-height);
  padding: var(--def-padding);
  height: calc(100vh - 2 * var(--def-padding));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("/media/bg-dark-blue.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-content: baseline;
}

#overlay-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: calc(var(--min-container-height) + 2 * var(--def-padding));
  backdrop-filter: blur(3px);
  background: var(--welcome-bg);
  z-index: 99999;
}

#overlay-inner {
  background-image: url("/media/bg-dark-blue.jpg");
  background-size: cover;
  position: absolute;
  display: flex;
  padding: 20px;
  top: calc(50% - 250px);
  width: 80%;
  min-height: 500px;
}

/* Start section */
#start-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

#music {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* End section */
#end-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#end-grid {
  display: grid;
  gap: 20px; /* ruimte tussen items */
  grid-template-columns: 1fr; /* standaard 1 kolom */
}

@media (min-width: 1024px) {
  /* desktop breakpoint */
  #end-grid {
    grid-template-columns: 1fr 1fr; /* 2 kolommen op desktop */
    row-gap: 100px;
  }
}

.grid-item {
  display: grid;

  flex-grow: 1;
  gap: 10px;
}

#made-by {
  margin-top: 10px;
  justify-content: end;
}

#highscores {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Game section */
#map {
  height: calc(100% - 2 * var(--def-padding));
  flex-basis: var(--min-container-height);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 10px;
  padding: var(--def-padding);
}

#text-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 100px;
  z-index: 999;
  justify-content: space-around;
}

#left-box {
  flex-basis: 400px;
  flex-grow: 8;
}

#ah-address,
#distance-score {
  color: black;
  text-align: center;
}

#right-box {
  display: flex;
  flex-direction: row;
  flex-basis: 100px;
  flex-grow: 1;
}

#continue-btn,
#counter {
  align-self: center;
}

#counter {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#confirm-btn {
  background: var(--secondary-color);
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

#confirm-btn:hover {
  background: var(--tertiary-color);
}
